body {
    margin: 2%;
    font-family: Arial, sans-serif;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

#container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

canvas {
    background: #fafafa;
    border: 1% solid #ccc;
    display: block;
    overflow: hidden;
}

.sliderContainer {
    margin-bottom: 1.0%;
}

#controls {
    margin-bottom: 5%;
}
#controls label {
    font-size: 100%;
    margin-right: 2%;
}

#info {
    font-size: 1.6%;
    margin-top: 0.5%;
}

.canvas-container {
    margin: auto;
    max-width: 600px;
}