body {
    margin: 2%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
#controls {
    margin-bottom: 2%;
}
#controls label {
    font-size: 100%;
    margin-right: 2%;
}
  #info {
    font-size: 100%;
    margin: 2% auto;
    max-width: 600px;
    background: #eaeaea;
    padding: 2%;
    border-radius: 1vw;
    white-space: pre-line;
    text-align: left;
  }
  /* The canvas container will adjust its size relative to the screen */
  #canvasContainer {
    max-width: 600px;
    margin: 2% auto;
    position: relative;
  }
  canvas {
    width: 100%;
    /* aspect-ratio: 3 / 2; */
    background: #fff;
    border: 0.1vw solid #ccc;
    display: block;
  }
  .slider-container {
    margin: 1% 0;
  }
  