body {
    margin: 2%;
    font-family: Arial, sans-serif;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

#container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

canvas {
    background: #fafafa;
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
}
#sliderContainer {
    margin-bottom: 1.0%;
}
  